.topbar{

    width:100%;
    height:90px;
    background: #6B47ED;
    position: fixed;
    z-index: 3;
    overflow-y: hidden;
    .wrapper{
       display: flex;
       justify-content: flex-start;
       align-items: center;
       width: 400px;
       height:90px;
       .left{
          flex:0.5;
          margin-left:84px;
       }
    }
 }